.carousel-caption h5 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 20mm;
    transform: translateY(-50%);
    text-align: center;
}
.carousel-caption p {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 10mm;
}